{% extends 'wp-admin/base.html' %}
{% block title_block %}
<h1>Add Superuser</h1>
{% endblock %}

{% block menu_block %}
	<div class="leftmenu">        
            <ul class="nav nav-tabs nav-stacked">
            	<li class="nav-header">Navigation</li>
                <li><a href="/kd-admin/"><span class="iconfa-laptop"></span> Home</a></li>
                <li><a href="/kd-admin/courses/"><span class="iconfa-laptop"></span> Cursos</a></li>
                <li><a href="/kd-admin/posts/"><span class="iconfa-laptop"></span> Posts</a></li>
                <li><a href="/kd-admin/categories/"><span class="iconfa-laptop"></span> Categorias</a></li>
                <li><a href="/kd-admin/tags/"><span class="iconfa-laptop"></span> Tags</a></li>
                <li class="active"><a href="/kd-admin/users/"><span class="iconfa-laptop"></span> Usuarios</a></li>
                <li><a href="/kd-admin/statistics/"><span class="iconfa-laptop"></span> Estadísticas</a></li>
                <li><a href="/kd-admin/payments/"><span class="iconfa-laptop"></span> Payments</a></li>
                <li><a href="/kd-admin/settings/"><span class="iconfa-laptop"></span> Settings</a></li>                                                
            </ul>
        </div><!--leftmenu-->
{% endblock %}

{% block main_block %}
                <div class="span9">
                    <h3 class="subtitle2">Add Superuser </h3>
                    <br />
                    <form id="course_form" method="post" action="/kd-admin/add_superuser/" enctype="multipart/form-data">

                        {% csrf_token %}
                        <table class="table discussions">
                            <tbody>
                            {% for field in form %}
                                <tr><td>
                                    {{ field.errors }}
                                    {{ field.help_text }}
                                    {{ field }}
                                </td></tr>
                            {% endfor %}

                            {% for field in profile_form %}
                                <tr><td>
                                    {{ field.errors }}
                                    {{ field.help_text }}
                                    {{ field }}
                                </td></tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <br />
                        <input class="btn btn-primary" type="submit" name="submit" value="Create Superuser" />
                    </form>                            
                        <br /><br />                            
                </div><!--span9-->
{% endblock %}