{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>MegaCourse - Admin</title>
<link rel="stylesheet" href="{% static "css/style.default.css" %}" type="text/css" />

<link rel="stylesheet" href="{% static "css/responsive-tables.css" %}">
<script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-migrate-1.1.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/modernizr.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.uniform.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/flot/jquery.flot.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/flot/jquery.flot.resize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/responsive-tables.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.slimscroll.js" %}"></script>
<script type="text/javascript" src="{% static "js/custom.js" %}"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
</head>

<body>

<div id="mainwrapper" class="mainwrapper">
    
    <div class="header">
        <div class="logo">
            <a href="/kd-admin/"><img src="{% static "images/logo.png" %}" alt="" /></a>
        </div>
        <div class="headerinner">
            <ul class="headmenu">

                <li class="right">
                    <div class="userloggedinfo">
                        <img src="/media/{{profile.image.url}}" alt="" />
                        <div class="userinfo">
                            <h5>{{profile.user.username}} <small>- {{profile.user.email}}</small></h5>
                            <ul>
                                <li><a href="/profile/edit/">Edit Profile</a></li>
                                <li><a href="/auth/logout/">Sign Out</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul><!--headmenu-->
        </div>
    </div>
    
    <div class="leftpanel">
        
        {% block menu_block %}{% endblock %}
                
    </div><!-- leftpanel -->
    
    <div class="rightpanel">
        
        <ul class="breadcrumbs">
            <li><a href="dashboard.html"><i class="iconfa-home"></i></a> <span class="separator"></span></li>
            <li>Dashboard</li>
        </ul>
        
        <div class="pageheader">
            <div class="pageicon"><span class="iconfa-laptop"></span></div>
            <div class="pagetitle">
                <h5>All Features Summary</h5>
                {% block title_block %}{% endblock %}
            </div>
        </div><!--pageheader-->
        
        <div class="maincontent">
            <div class="maincontentinner">
                <div class="row-fluid">

                    {% block main_block %}{% endblock %}
                        
                        <br />
                                                
                    </div><!--span4-->
                </div><!--row-fluid-->
                
                <div class="footer">
                    <div class="footer-left">
                        <span>&copy; 2013. Shamcey Admin Template. All Rights Reserved.</span>
                    </div>
                    <div class="footer-right">
                        <span>Designed by: <a href="http://themepixels.com/">ThemePixels</a></span>
                    </div>
                </div><!--footer-->
                
            </div><!--maincontentinner-->
        </div><!--maincontent-->
        
    </div><!--rightpanel-->
    
</div><!--mainwrapper-->

</body>
</html>
