{% extends 'wp-admin/base.html' %}

{% block title_block %}
<h1>Dashboard</h1>
{% endblock %}

{% block menu_block %}
	<div class="leftmenu">        
            <ul class="nav nav-tabs nav-stacked">
            	<li class="nav-header">Navigation</li>
                <li class="active"><a href="/kd-admin/"><span class="iconfa-laptop"></span> Home</a></li>
                <li><a href="/kd-admin/courses/"><span class="iconfa-laptop"></span> Cursos</a></li>
                <li><a href="/kd-admin/posts/"><span class="iconfa-laptop"></span> Posts</a></li>
                <li><a href="/kd-admin/categories/"><span class="iconfa-laptop"></span> Categorias</a></li>
                <li><a href="/kd-admin/tags/"><span class="iconfa-laptop"></span> Tags</a></li>
                <li><a href="/kd-admin/users/"><span class="iconfa-laptop"></span> Usuarios</a></li>
                <li><a href="/kd-admin/statistics/"><span class="iconfa-laptop"></span> Estadísticas</a></li>
                <li><a href="/kd-admin/payments/"><span class="iconfa-laptop"></span> Payments</a></li>
                <li><a href="/kd-admin/settings/"><span class="iconfa-laptop"></span> Settings</a></li>                                                
            </ul>
        </div><!--leftmenu-->
{% endblock %}

{% block main_block %}
			        <div id="dashboard-left" class="span8">
                        
                        <h5 class="subtitle">Recently Viewed Pages</h5>
                        <ul class="shortcuts">
                            <li class="events">
                                <a href="/kd-admin/courses/">
                                    <span class="shortcuts-icon iconsi-event"></span>
                                    <span class="shortcuts-label">Cursos</span>
                                </a>
                            </li>
                            <li class="products">
                                <a href="/kd-admin/posts/">
                                    <span class="shortcuts-icon iconsi-cart"></span>
                                    <span class="shortcuts-label">Posts</span>
                                </a>
                            </li>
                            <li class="archive">
                                <a href="/kd-admin/categories/">
                                    <span class="shortcuts-icon iconsi-archive"></span>
                                    <span class="shortcuts-label">Categorias</span>
                                </a>
                            </li>
                            <li class="help">
                                <a href="/kd-admin/tags/">
                                    <span class="shortcuts-icon iconsi-help"></span>
                                    <span class="shortcuts-label">Tags</span>
                                </a>
                            </li>
                            <li class="last images">
                                <a href="/kd-admin/users/">
                                    <span class="shortcuts-icon iconsi-images"></span>
                                    <span class="shortcuts-label">Usuarios</span>
                                </a>
                            </li>
                            <li class="last images">
                                <a href="/kd-admin/statistics/">
                                    <span class="shortcuts-icon iconsi-images"></span>
                                    <span class="shortcuts-label">Estadisticas</span>
                                </a>
                            </li>
                            <li class="last images">
                                <a href="/kd-admin/payments/">
                                    <span class="shortcuts-icon iconsi-images"></span>
                                    <span class="shortcuts-label">Payments</span>
                                </a>
                            </li>

                            <li class="last images">
                                <a href="/kd-admin/settings/">
                                    <span class="shortcuts-icon iconsi-images"></span>
                                    <span class="shortcuts-label">Settings</span>
                                </a>
                            </li>
                        </ul>
                        
                        <br />                        
                        
                    </div><!--span8-->
{% endblock %}